#loginTitle {
    border-bottom: 5px solid black;
}

#openEye {
    display: none;
}

.password {
    display: inline-block;
    position: relative;
    width: 100%;
}


.eyes {
    position: absolute;
    right: 10px;
    top: 1px;
    cursor: pointer;
}